*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color:   #f5deb3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
  pointer-events: none;
  width: 100%;    
}

.navbar{
    height: 10vh;
    max-width: 100%;
    background-color: #f5deb3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;    
}
.navbar a{
    color: #990000;
    font-weight: bolder;
}

.navbar a:hover{
    color: black;
}

.Logo{
  height: 100%;
  padding: 10px;
}

.brand{
    display: inline-block;    
    margin-left: 20px;
    margin-right: 20px;    
}

.Nav {
    flex-basis: 100%;  
    margin-right: 10%;  
    height: 100%;     
}

.login-nav{     
    width: 30%;         
}

.myNav{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; 
    height: 100%;  
    padding: 20px; 
}


.nav-item, .login-item{    
    flex-grow: 1;    
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;    
}
.login-item{    
    font-weight: normal;
}

.login-item:hover{    
    color: white;
    cursor: pointer;
}

.main-content{        
    padding: 50px 90px;
    margin-bottom: 30px;
}
.main-content:after{
  content: "";
  display: table;
  clear: both;
}

.section{
    float: left;
    width: 50%;  
}

.section h1{    
    color: #990000;
    padding: 0;
    margin: 0;
}

.section h2{
    padding-top: 50px;
}

  .myButton{
      width: 70%;
      display: flex;      
      justify-content: space-between;
      margin-top: 20px;  
  }

  .myButton a{
    color: black;
    border-radius: 10px; 
    padding: 1vw 4vw;
    text-align: center;
    text-decoration: none;    
    font-size: 16px;
    margin: 10px;
    font-weight: 500;
  }

  .myButton #loker{
    background-color: red;
    border: 2px solid red;   
  }

  .myButton #loker:hover{
    background-color: transparent;    
    border: 2px solid red;   
  }

  .myButton #jasa{
    background-color: transparent;    
    border: 2px solid red;   
  }

  .myButton #jasa:hover{
    background-color: red;        
  }  

.desc-section{
    margin-top: 3rem;
    width: 70%;
}

.section p{
 font-size: 20px;
}

.right{    
    float: right;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

  .footer{
    position: fixed;    
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center; 
    height: 5vw;                 
  }

  .footer h4{
    padding: 1vw;
  }

  @media screen and (max-width:720px) { 
    body{
        font-size: 16px;
    }   
    .main-content{
        padding: 30px 60px;
    }
    .section {
      width: 100%;
      font-size: 4vw;      
    }       
    
    .myButton a{
      font-size: 3vw;
    }
    .desc-section p{
      font-size: 4vw;
     }
     
  }